 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 html {
   font-family: sans-serif;
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
 
 article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
   display: block;
 }
 
 body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   text-align: left;
   background-color: #fff;
 }
 
 [tabindex="-1"]:focus:not(:focus-visible) {
   outline: 0 !important;
 }
 
 hr {
   box-sizing: content-box;
   height: 0;
   overflow: visible;
 }
 
 h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   margin-bottom: 0.5rem;
 }
 
 p {
   margin-top: 0;
   margin-bottom: 1rem;
 }
 
 abbr[title],
 abbr[data-original-title] {
   text-decoration: underline;
   -webkit-text-decoration: underline dotted;
   text-decoration: underline dotted;
   cursor: help;
   border-bottom: 0;
   -webkit-text-decoration-skip-ink: none;
   text-decoration-skip-ink: none;
 }
 
 address {
   margin-bottom: 1rem;
   font-style: normal;
   line-height: inherit;
 }
 
 ol,
 ul,
 dl {
   margin-top: 0;
   margin-bottom: 1rem;
 }
 
 ol ol,
 ul ul,
 ol ul,
 ul ol {
   margin-bottom: 0;
 }
 
 dt {
   font-weight: 700;
 }
 
 dd {
   margin-bottom: .5rem;
   margin-left: 0;
 }
 
 blockquote {
   margin: 0 0 1rem;
 }
 
 b,
 strong {
   font-weight: bolder;
 }
 
 small {
   font-size: 80%;
 }
 
 sub,
 sup {
   position: relative;
   font-size: 75%;
   line-height: 0;
   vertical-align: baseline;
 }
 
 sub {
   bottom: -.25em;
 }
 
 sup {
   top: -.5em;
 }
 
 a {
   color: #007bff;
   text-decoration: none;
   background-color: transparent;
 }
 
 a:hover {
   color: #0056b3;
   text-decoration: underline;
 }
 
 a:not([href]) {
   color: inherit;
   text-decoration: none;
 }
 
 a:not([href]):hover {
   color: inherit;
   text-decoration: none;
 }
 
 pre,
 code,
 kbd,
 samp {
   font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
   font-size: 1em;
 }
 
 pre {
   margin-top: 0;
   margin-bottom: 1rem;
   overflow: auto;
 }
 
 figure {
   margin: 0 0 1rem;
 }
 
 img {
   vertical-align: middle;
   border-style: none;
 }
 
 svg {
   overflow: hidden;
   vertical-align: middle;
 }
 
 table {
   border-collapse: collapse;
 }
 
 caption {
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   color: #6c757d;
   text-align: left;
   caption-side: bottom;
 }
 
 th {
   text-align: inherit;
 }
 
 label {
   display: inline-block;
   margin-bottom: 0.5rem;
 }
 
 button {
   border-radius: 0;
 }
 
 button:focus {
   outline: 1px dotted;
   outline: 5px auto -webkit-focus-ring-color;
 }
 
 input,
 button,
 select,
 optgroup,
 textarea {
   margin: 0;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
 }
 
 button,
 input {
   overflow: visible;
 }
 
 button,
 select {
   text-transform: none;
 }
 
 select {
   word-wrap: normal;
 }
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }
 
 button:not(:disabled),
 [type="button"]:not(:disabled),
 [type="reset"]:not(:disabled),
 [type="submit"]:not(:disabled) {
   cursor: pointer;
 }
 
 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
   padding: 0;
   border-style: none;
 }
 
 input[type="radio"],
 input[type="checkbox"] {
   box-sizing: border-box;
   padding: 0;
 }
 
 input[type="date"],
 input[type="time"],
 input[type="datetime-local"],
 input[type="month"] {
   -webkit-appearance: listbox;
 }
 
 textarea {
   overflow: auto;
   resize: vertical;
 }
 
 fieldset {
   min-width: 0;
   padding: 0;
   margin: 0;
   border: 0;
 }
 
 legend {
   display: block;
   width: 100%;
   max-width: 100%;
   padding: 0;
   margin-bottom: .5rem;
   font-size: 1.5rem;
   line-height: inherit;
   color: inherit;
   white-space: normal;
 }
 
 progress {
   vertical-align: baseline;
 }
 
 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
   height: auto;
 }
 
 [type="search"] {
   outline-offset: -2px;
   -webkit-appearance: none;
 }
 
 [type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
 }
 
 ::-webkit-file-upload-button {
   font: inherit;
   -webkit-appearance: button;
 }
 
 output {
   display: inline-block;
 }
 
 summary {
   display: list-item;
   cursor: pointer;
 }
 
 template {
   display: none;
 }
 
 [hidden] {
   display: none !important;
 }

@font-face {
    font-family: 'rubik_reg';
    src: url('./Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'rubik_med';
    src: url('./Rubik-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'rubik_lt';
    src: url('./Rubik-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    font-family: 'rubik_reg';
    font-size: 14px;
    color: #222222;
    overflow: hidden;
}
.main{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.main .shops{
    width: 360px;
    max-width: 360px;
    height: 100vh;
    overflow: hidden;
    background: #ffffff;
    border-right: 1px solid #e5e5e5;
}
.main .shops .shops_title{
    border-bottom: 1px solid #e5e5e5;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    
}
.main .shops .shops_title .shops_title_text{
    user-select: none;
    font-family: 'rubik_reg';
    font-size: 16px;
    text-transform: uppercase;
}
.main .shops .shops_title .add_shop_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
}
.main .shops .shops_title .add_shop_btn img{
    user-select: none;
    display: flex;
    transition: transform 0.2s;
    transform: rotate(0deg);
}
.main .shops .shops_title .add_shop_btn .helper{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    margin-top: 8px;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 3px;
    font-family: 'rubik_med';
    user-select: none;
    display: none;
}
.main .shops .shops_title .add_shop_btn:hover{
    border: 1px solid #999999;
}
.main .shops .shops_title .add_shop_btn:hover img{
    transform: rotate(180deg);
}
.main .shops .shops_title .add_shop_btn:hover .helper{
    display: block;
}
.main .shops ul{
    width: 380px;
    padding: 30px 60px 30px 40px;
    height: auto;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    list-style: none;
}
.main .shops ul .menu-item{
    font-size: 13px;
    text-transform: uppercase;
    color: #222222;
    transition: color 0.2s;
    cursor: pointer;
    padding: 10px 0;
}
.main .shops ul .menu-item:hover{
    color: #f1002e;   
}
.main .shops ul .menu-item span{
    font-size: 10px;
    color: #999999;
}
.main .shops ul .menu-item span.text_market{
    color: unset;
    font-size: unset;
}


.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
.popup.open{
    display: block;
}
.popup .popup_body{
    background: #ffffff;
    padding: 80px 50px 60px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 420px;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup .popup_body .add_shop_name{
    position: relative;
    margin-bottom: 40px;
    width: 100%;
}
.popup .popup_body .add_shop_name .dropdown_header{
    display: flex;
    cursor: pointer;
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    transition: background-color 0.2s;
}
.popup .popup_body .add_shop_name .dropdown_header .text{
    color: #666666;
    font-size: 13px;

}
.popup .popup_body .add_shop_name .dropdown_header.selected,
.popup .popup_body .add_shop_name .dropdown_header.open,
.popup .popup_body .add_shop_name .dropdown_header:hover{
    background-color: #ffffff;
}
.popup .popup_body .add_shop_name .dropdown_header.selected .text{
    color: #222222;
    font-family: 'rubik_med';
}
.popup .popup_body .add_shop_name .dropdown_header img{
    transform: rotate(90deg);
}
.popup .popup_body .add_shop_name .dropdown_header.open img {
    transform: rotate(270deg);
}
.popup .popup_body .add_shop_name .dropdown_body {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    display: none;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 40px;
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow: hidden;
}
.popup .popup_body .add_shop_name .dropdown_body.open{
    display: flex;
}
.popup .popup_body .add_shop_name .dropdown_body .list{
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    width: 100%;
}
.popup .popup_body .add_shop_name .dropdown_body .list .option{
    font-size: 12px;
    color: #222222;
    padding: 5px 0;
    cursor: pointer;
    transition: color 0.2s;
}
.popup .popup_body .add_shop_name .dropdown_body .list .option:hover{
    color: #f1002e;
}
.popup .popup_body .upload_file{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    max-width: 100%;
}
.popup .popup_body .upload_file .custom_file_input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.popup .popup_body .upload_file .custom_file_input + label{
    font-size: 13px;
    color: #666666;
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    max-width: 100%;
    padding: 20px 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.2s;
}
.popup .popup_body .upload_file .custom_file_input + label * {
    pointer-events: none;
}
.popup .popup_body .upload_file .custom_file_input:focus + label,
.popup .popup_body .upload_file .custom_file_input + label.selected,
.popup .popup_body .upload_file .custom_file_input + label:hover{
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}
.popup .popup_body .upload_file .custom_file_input + label.selected{
    font-family: 'rubik_med';
    color: #222222;
}
.popup .popup_body button {
    background: #222222;
    transition: all 0.2s;
    color: #ffffff;
    font-family: 'rubik_med';
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    border: none;
    padding: 15px 30px;
    border-radius: 3px;
}
.popup .popup_body button:hover {
    background: #333333;
}
.popup .popup_body .close_btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.popup .popup_body .close_btn img{
    user-select: none;
    transition: all 0.2s;
    transform: rotate(0deg);
}
.popup .popup_body .close_btn:hover img{
    transform: rotate(180deg);
}
.popup .popup_mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
}

.workspace{
    width: 1000px;
}
.workspace .workspace_controls{
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 5px 40px;
}
.workspace .workspace_controls .workspace_area_item{
    display: flex;
    position: relative;
    width: 36px;
    height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 10px;
    cursor: pointer;
    transition: all 0.2s;
}
.workspace .workspace_controls .workspace_area_item:nth-child(2){
    margin-left: 20px;
}
/* .workspace .workspace_controls .workspace_area_item{
    
} */
.workspace .workspace_controls .workspace_area_item:hover{
    border: 1px solid #999999;
}
.workspace .workspace_controls .workspace_area_item img{
    user-select: none;
    display: flex;
}
.workspace .workspace_controls .workspace_area_item .helper{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    margin-top: 8px;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 3px;
    font-family: 'rubik_med';
    user-select: none;
    display: none;
}
.workspace .workspace_controls .workspace_area_item:hover .helper{
    display: block;
}
.workspace .workspace_area, .array_proto {
    position: relative;
}
 .workspace_area_search{
    border-radius: 3px;
    background: #ffffff;
    display: flex;
    flex-flow: column;
    margin: 0 20px 0 0px;
    padding: 0 20px;
}
 .workspace_area_search label{
    font-size: 12px;
    user-select: none;
    margin-top: 3px;
    margin-bottom: 3px;
}
.workspace_area_search input{
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    color: #222222;
    font-size: 13px;
    font-family: 'rubik_med';
    margin-bottom: 5px;
}
.workspace_area_search input:focus {
    outline: none;
    border: 1px solid #999999;
}
.workspace_area_search input::placeholder{
    font-family: 'rubik_lt';
    color: #666666;
    font-style: italic;
    transition: all 0.2s;
    opacity: 1;
}
.workspace_area_search input:focus::placeholder{
    opacity: 0;
}

.info{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: calc(100% - 1360px);
    background: #ffffff;
    border-left: 1px solid #e5e5e5;
}
.info .info_header{
    border-bottom: 1px solid #e5e5e5;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.info .info_header .info_header_text{
    user-select: none;
    font-family: 'rubik_reg';
    font-size: 16px;
    text-transform: uppercase;
}
.info .info_header .product_search_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
}
.info .info_header .product_search_btn img{
    user-select: none;
    display: flex;
    transition: transform 0.2s;
    transform: rotate(0deg);
}
.info .info_header .product_search_btn .helper{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    margin-top: 8px;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 3px;
    font-family: 'rubik_med';
    user-select: none;
    display: none;
}
.info .info_header .product_search_btn:hover{
    border: 1px solid #999999;
}
.info .info_header .product_search_btn:hover img{
    /* transform: rotate(180deg); */
}
.info .info_header .product_search_btn:hover .helper{
    display: block;
}

.info .data_cell {
    height: calc(100vh - 80px);
    overflow: hidden;
}
.info .data_cell .data_wrapper{
    height: auto;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    padding: 30px 30px;
}
.info .data_cell .data_wrapper .data_item{
    background: #f6f6f6;
    border-radius: 3px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.info .data_cell .data_wrapper .data_item .data_item_image{
    width: 80px;
    height: 80px;
    background: #ffffff;
    flex-shrink: 0;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.info .data_cell .data_wrapper .data_item .data_item_image img {
    user-select: none;
    display: flex;
    max-width: 70px;
    max-height: 70px;
}
.info .data_cell .data_wrapper .data_item .data_item_info{

}
.info .data_cell .data_wrapper .data_item .data_item_info .data_item_info_axid{
    font-size: 11px;
    /* font-family: 'rubik_med'; */
    color: #999999;
    cursor: default;
}
.info .data_cell .data_wrapper .data_item .data_item_info .data_item_info_name{
    color: #222222;
    font-family: 'rubik_med';
    margin: 5px 0;
    cursor: default;
}
.info .data_cell .data_wrapper .data_item .data_item_info .data_item_info_qty{
    color: #999999;
    font-size: 11px;
    user-select: none;
}
.info .data_cell .data_wrapper .data_no_items{
    user-select: none;
    text-align: center;
}

.popup.product_search .popup_body, .autorized {
    max-width: 1000px;
    max-height: 100vh;
}

.popup.product_search .popup_body .search_form, .autorized_form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popup.product_search .popup_body .search_form .search_form_row,  .autorized_form .autorized_form_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
} 
.popup.product_search .popup_body .search_form .search_form_row .input, .autorized_form .autorized_form_row .input{
    display: flex;
    flex-direction: column;
    width: 33.33%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.popup.product_search .popup_body .search_form .search_form_row .input label, .autorized_form .autorized_form_row .input label{
    font-size: 10px;
    color: #2a2a2a;
    text-transform: uppercase;
    margin-bottom: 5px;
    user-select: none;
    font-family: 'rubik_med';
}
.popup.product_search .popup_body .search_form .search_form_row .input input, .autorized_form .autorized_form_row .input input{
    border: 1px solid #e5e5e5;
    padding: 10px 20px;
    color: #222222;
    background: #f6f6f6;
    font-size: 13px;
    font-family: 'rubik_med';
    margin-bottom: 5px;
    border-radius: 3px;
}
.popup.product_search .popup_body .search_form .search_form_row .input input:focus, .autorized_form .autorized_form_row .input input {
    outline: none;
    border: 1px solid transparent;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}
.popup.product_search .popup_body .search_form .search_form_row .input input::placeholder, .autorized_form .autorized_form_row .input input::placeholder{
    font-family: 'rubik_lt';
    color: #666666;
    font-style: italic;
    transition: all 0.2s;
    opacity: 1;
}
.popup.product_search .popup_body .search_form .search_form_row .input input:focus::placeholder, .autorized_form .autorized_form_row .input input::placeholder{
    opacity: 0;
}
.popup.product_search .popup_body .search_form .search_form_row .helper_list, .autorized_form .autorized_form_row .helper_list{
    position: absolute;
    top: 100%;
    left: 15px;
    width: calc(100% - 30px);
    height: auto;
    max-height: 260px;
    overflow-y: auto;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    padding: 20px 30px;
    display: none;
}
.popup.product_search .popup_body .search_form .search_form_row .helper_list.open, .autorized_form .autorized_form_row .helper_list.open
/*, .popup.product_search .popup_body .search_form .search_form_row .input input:focus + .helper_list */
{    
    display: block;
}
.popup.product_search .popup_body .search_form .search_form_row .helper_list .list_item, .autorized_form .autorized_form_row .helper_list .list_item{
    font-size: 12px;
    color: #222222;
    text-transform: capitalize;
    cursor: pointer;
    transition: color 0.2s;
    padding: 5px 0;
}
.popup.product_search .popup_body .search_form .search_form_row .helper_list .list_item:hover, .autorized_form .autorized_form_row .helper_list .list_item:hover{
    color: #f1002e;
}

.popup.product_search .popup_body .search_form .search_form_row .search_form_row_col{
    padding: 0 15px;
    width: 50%;
}
.popup.product_search .popup_body .search_form .search_form_row .search_form_row_col .subtitle{
    font-size: 10px;
    color: #2a2a2a;
    text-transform: uppercase;
    margin-bottom: 15px;
    user-select: none;
    font-family: 'rubik_med';
}
.popup.product_search .popup_body .search_form .search_form_row .search_form_row_col .list_checkbox{
    height: auto;
    /* width: calc(100% - 30px); */
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
}


.workspace_controls .helper_list{
    position: absolute;
    top: 100%;
    width: calc(100% - 30px);
    height: auto;
    max-height: 260px;
    overflow-y: auto;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    padding: 20px 30px;
    display: none;
    z-index: 60;
}
.workspace_controls .helper_list.open
/*, .popup.product_search .popup_body .search_form .search_form_row .input input:focus + .helper_list */
{    
    display: block;
}
.workspace_controls .helper_list .list_item{
    font-size: 12px;
    color: #222222;
    text-transform: capitalize;
    cursor: pointer;
    transition: color 0.2s;
    padding: 5px 0;
}
.workspace_controls .helper_list .list_item:hover{
    color: #f1002e;
}


div.cells_list.helper_list.dropdown_body.open {
    width: calc(100% - 10px);
    padding: 10px;
}


.save_btn, .exit_btn {
    background: #222222;
    transition: all 0.2s;
    color: #ffffff;
    font-family: 'rubik_med';
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    border: none;
    padding: 15px;
    border-radius: 3px;
    margin: 5px;
}



/* .prototype-item{
    background-color: red;
    width: 100px;
    cursor: pointer;
    margin: 5px;
}
.list_cells {
    height: auto;
}

/* .menu span.text_market{
    text-transform: capitalize;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
} */

/* .menu span {
    font-size: small;
    text-transform: none;
} */

/* .main {
    display: flex;
    flex-wrap: wrap;
} */

/* .main > div:nth-child(n+2){
    margin-left: 50px;
} */

/* .add_image > div {
    display: grid;
} */

/* button, button *{
    cursor: pointer;
} */

html body *.admin, input.cells.dropdown.array_proto .admin,html body .workspace_controls .admin, .workspace .workspace_controls .workspace_area_item.admin {
  visibility: hidden;
}